
@{
    ViewBag.Title = "Home Page";
}

<h1>Index Page</h1>
@*<div>
    Message from Home/Index : @ViewBag.Message<br />
    Name : @ViewData["Name"]<br />
    City : @TempData["City"]<br />
    Profession : @Session["Profession"]
</div>*@
